@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white
}

.cabecalho{
    padding: 2% 0% 0% 9%;
}

.cabecalho__menu{
    display: flex;
    gap: 70px;
}

.cabecalho__menu__links{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    color: #22D4FD;
}

.apresentacao > img{
    width: 365px;
    height: 370px;
    border-radius: 7px;
}

.apresentacao > img:hover{
    transform: translateY(-15px);
    transition: .3s;
    transition-timing-function: ease;
}

.apresentacao{
    padding: 7% 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apresentacao__conteudo{
    width: 570px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-bottom: 40px;
}

.apresentacao__conteudo__title{
    font-family: 'Krona One', sans-serif;
    font-size: 30px;
}

.destaque_titulo{
    color: #22D4FD;
}

.apresentacao__conteudo__texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: justify;
    color: #F6F6F6;
}

.apresentacao__link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.apresentacao__link__a{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: #F6F6F6;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 280px;
    padding: 16px;
    border: 2px solid #22D4FD;
    border-radius: 8px;
}

.apresentacao__link__a:hover{
    background-color: #272727;
}

.apresentacao__link__subtitle{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.rodape{
    color: black;
    background-color: #22D4FD;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
}